# Supabase Credentials (found in Project Settings -> API)
SUPABASE_URL=https://supabase.com/dashboard/project/fdomeipzowdkhhimoqpjo
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZkb21laXB6b3dka2hoaW1vcXBqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyNTY2NzIsImV4cCI6MjA5NzgzMjY3Mn0.G0BZ_uSzQIdI5ptLoN0zHQxFSYpu2YuDidKUMlegkxA
